/* <----- pre-sets ------> */
*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;

}
body{
    background: #080a24;
    
}
.space{
    padding: 10px 10px;
}
a{
    text-decoration: none;
}
.text-color{
    color: #fae467;
}
.font-size-nav{
    font-size: 21px;
    font-weight: bold;
}
.text{
    color: #000;
    font-size: 16px;
}
/* <----- pre-sets ------> */

/* <----- header ----->*/
.name h1{
    background: linear-gradient(45deg, #fc2605, #fcec05, #2efc05, #05f4fc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: -200%;
    animation: an1m 5s alternate-reverse infinite;
}
@keyframes an1m {
    to{
        background-position: 200%;
    } 
 }
.nav-bar{
    max-height: 10vh;
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    background: linear-gradient(#1ad64c, #1db546);
    box-shadow: 0 10px 15px 2px #000;
    padding: 15px;
}
.nav-bar-link a:hover{
    color: #a63ae0;
    text-shadow: 0 0 5px #a63ae0,
    0 0 10px #a457ce,
    0 0 15px #bf76e6;
    transition: .5s;
}
/* <----- header ----->*/
/* <----- main body ----->*/
#site-main{
    margin-top: 8em;
}
#margin{
    margin-bottom: 5em;
}
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.grid{
    margin: 0 auto;
   
}
.grid .grid-item{
    width: 100%;
	margin-bottom: 3em;
	overflow: hidden;
}
.grid .grid-item{
    transition: .3s ease-in-out;
}
.grid-item:hover{
    transform: scale(1.2);
}
.container .grid .grid-item img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px; height: auto;
    padding: 0 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    max-width: 250px;
    padding-top: 5px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
    background: #fff;
    
  }

/* <----- main body ----->*/
/* <----- footer ----->*/
.footer{
    text-align: center;
    background: #190d3b;
    height: 100%;
}
.foot-icon i{
    font-size: 20px;
    padding: 10px 10px;
    color: #fff;
}
.inst p{
    background: linear-gradient(45deg, #fc2605, #fcec05, #2efc05, #05f4fc);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    background-size: -200%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
    
}
.cr i{
    color: #05f4fc;
}
.cr{
    color: #fff;
    padding-top: 20px;
}

/* <----- footer ----->*/